apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- api-deployment.yaml
- admin-deployment.yaml
- web-deployment.yaml

# Image transformer: maps short names to full GHCR paths
# CI workflows update these entries with @sha256:... digests after each build
images:
- digest: sha256:25956c38b0d31b076cbc282a533ea2c7f8490ae0390d9d870fa75a723bf39606
  name: dhanam-admin
  newName: ghcr.io/madfam-org/dhanam/admin
- digest: sha256:3370aedf7d75acaed33ad4936ba1696026d890ccdcdb03c6843c6b0f6ff53aff
  name: dhanam-api
  newName: ghcr.io/madfam-org/dhanam/api
- digest: sha256:22627c140dc4eda05fd622828a92b54282e89e663c6288bca3e397a17e6395e8
  name: dhanam-web
  newName: ghcr.io/madfam-org/dhanam/web
